<head>
<meta charset="utf-8">
<title>Directed Graph Editor</title>
</head>

<body>
  <h2>Ford-Fulkerson Max Flow/Min Cut Algorithm</h2>
  <a href="http://en.wikipedia.org/wiki/Ford%E2%80%93Fulkerson_algorithm" id="la">More info</a>
  <p>Max flow: <%= @total_max_flow %></p>
  <button type="button" onclick="NS.serialize()">Start</button>
  <h4>Instructions:</h4>
  <ul>
  <li>Click in the open space to <strong>add a node</strong>, drag from one node to another to <strong>add an edge</strong></li>
  <li>Ctrl-drag a node to move the graph layout</li>
  <li>Click a node or an edge to select it</li>
  <li>When a node is selected: R toggles reflexivity, Delete removes the node</li>
  <li>When an edge is selected: L(eft), R(ight), B(oth) change direction, Delete removes the edge</li>
</ul>
  <div></div>
</body>