<head>
<meta charset="utf-8">
<title>Directed Graph Editor</title>
</head>

<body style="margin:0% 8%;">
  <div style="background-color:#D8D8D8; padding: 3% 0%; ">
    <div style="text-align:center;">
      <h2 style="margin-top: 10px; font-family: Helvetica Neue, Helvetica, sans-serif; font-size:2.5em; font-weight: 300; letter-spacing: -2px;">
        Ford-Fulkerson Max Flow/Min Cut Algorithm <a href="http://en.wikipedia.org/wiki/Ford%E2%80%93Fulkerson_algorithm"><img src="/assets/information.png" style="height: 0.8em;" /></a>
      </h2>
    </div>
    <div style="padding:0% 10%;">
      <div style="font-weight: bold; float: right; text-align: right;">
        Total Flow: <span style="font-weight: normal; border-style: double; border-width: 2px;" class="flow-val">0</span><br />
        <button type="button" class="start-button" style="margin-bottom:10px;">Start</button>
      </div>
      <div>Delay (ms): <span class="delay-val">500</span>
        <form id="myform">
          <input type="number" id="delay-text-box"/>
          <input type="button" class="set-button" value="Set"/>
        </form> 
      </div>
      <div class="network"></div>
    </div>
  </div>
</body>