.network {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

#graph {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

body {
  margin:0% 8%;
}

.background {
  background-color:#D8D8D8; padding: 3% 0%; 
}

.centered {
  text-align:center;
}

h2 {
  margin-top: 10px; 
  font-family: Helvetica Neue, Helvetica, sans-serif; 
  font-size:2.5em; 
  font-weight: 300; 
  letter-spacing: -2px; 
  margin-bottom: 5px;
}

img {
  height: 0.8em;
}

.padded {
  padding:0% 10%;
}

.right {
  font-weight: bold; 
  float: right; 
}

.total-flow {
  display: block; 
  vertical-align: middle;
}

.flow-val {
  font-weight: 300; 
  font-size: 3.0em; 
}

.start-button {
  margin-bottom:10px;
}

@media all and (min-width: 50px)   {  body  { font-size:0.05em;  } }
@media all and (min-width: 100px)  {  body  { font-size:0.1em;  } }
@media all and (min-width: 200px)  {  body  { font-size:0.2em;  } }
@media all and (min-width: 300px)  {  body  { font-size:0.3em;  } }
@media all and (min-width: 400px)  {  body  { font-size:0.4em;  } }
@media all and (min-width: 500px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 600px)  {  body  { font-size:0.6em;  } }
@media all and (min-width: 700px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 800px)  {  body  { font-size:0.8em;  } }
@media all and (min-width: 900px)  {  body  { font-size:0.9em;  } }